{% extends 'layouts/layout.html' %}
{% block content  %}

<h1>Crear Dispositivo {{titulo}}</h1>
 <form action="{% url 'saveD' %}" method="POST"> 
    {% csrf_token %}
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del dispositivo</label>
      <input type="text" class="form-control" name="nombre">
    </div>
    <div class="mb-3">
        <label for="direccion_ip" class="form-label">Direccion IP</label>
        <input type="text" class="form-control" name="direccion_ip">
      </div>
      <div class="mb-3">
        <label for="direccion_mac" class="form-label">Direccion MAC</label>
        <input type="text" class="form-control" name="direccion_mac">
      </div>
      <div class="mb-3">
        <label for="identificador" class="form-label">Identidicador</label>
        <input type="text" class="form-control" name="identificador">
      </div>
      <div class="mb-3">
        <label for="ubicacion" class="form-label">Ubicacion</label>
        <input type="text" class="form-control" name="ubicacion">
      </div>
      
     
    <button type="sumbit" class="btn btn-primary">Guardar</button>
  </form>

{% endblock  %}