{% extends 'layouts/layout.html' %}
{% block content  %}

<h1>Crear Dispositivo {{titulo}}</h1>

{% comment %} <form action="{% url 'save' %}" method="POST"> {% endcomment %}
    {% csrf_token %}
    <div class="mb-3">
      <label for="nombre_dis" class="form-label">Nombre del dispositivo</label>
      <input type="text" class="form-control" name="nombre_dis">
    </div>
    <div class="mb-3">
        <label for="direccion_ip" class="form-label">Direccion IP</label>
        <input type="text" class="form-control" name="direccion_ip">
      </div>
      <div class="mb-3">
        <label for="direccion_mac" class="form-label">Direccion MAC</label>
        <input type="text" class="form-control" name="direccion_mac">
      </div>
      <div class="mb-3">
            <label for="ubicacion">Ubicacion</label>
            <select class="form-control" id="ubicacion">
              <option>Bloque 1</option>
              <option>Bloque 2</option>
              <option>Bloque 3</option>
              <option>Bloque 4</option>
              <option>Bloque 5</option>
            </select>
          </div>
      
     
    <button type="sumbit" class="btn btn-primary">Guardar</button>
  </form>

{% endblock  %}