{% extends 'layouts/layout.html' %}

{% block content  %}





<h1>Asignar Permiso</h1>




 <form action="{% url 'saveP' %}" method="POST"> 

    {% csrf_token %}

    <div class="mb-3">
        <label for="idVisitante_permi__nombre" class="form-label">Nombre del visitante</label>
        <input type="text" class="form-control" name="idVisitante_permi__nombre">
      </div>
    <div class="mb-3">
        <label for="fecha_inicio" class="form-label">Fecha de ingreso</label>
        <input type="datetime-local" class="form-control" name="fecha_inicio">
      </div>
      <div class="mb-3">
        <label for="fecha_fin" class="form-label">Fecha de salida</label>
        <input type="datetime-local" class="form-control" name="fecha_fin">
      </div>
     
      <div class="mb-3">
        <label for="objetos" class="form-label">Objetos</label>
        <input type="text" class="form-control" name="objetos">
      </div>
      <div class="mb-3">
        <label for="autorizacion" class="form-label">Autorizacion</label>
          <select name= "autorizacion" class="form-control" id="autorizacion">
            <option value=0 selected>No autoriza</option>
            <option value=1>Autoriza</option>

          </select>
      </div>
     
    <button type="sumbit" class="btn btn-primary">Guardar</button>
  </form>

  {% endblock  %}