{% extends 'layouts/layout.html' %}

{% block content  %}





<h1>Asignar Permiso</h1>




 <form action="{% url 'saveP' %}" method="POST"> 

    {% csrf_token %}

    <br>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Datos del visitante</h5>
        <h6 class="card-subtitle mb-2 text-muted">ID: {{mostrarVisi.pk}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">NOMBRE: {{ mostrarVisi.nombre }}</h6>

        <p class="card-text">Este visitante ya se encuentra registrado</p>
        
      </div>
    </div>
    

      <input id="prodId" name="pk" type="hidden" value="{{mostrarVisi.pk}}">
      <br>
    <div class="mb-3">
        <label for="fecha_inicio" class="form-label">Fecha de ingreso</label>
        <input type="datetime-local" class="form-control" name="fecha_inicio">
      </div>
      <div class="mb-3">
        <label for="fecha_fin" class="form-label">Fecha de salida</label>
        <input type="datetime-local" class="form-control" name="fecha_fin">
      </div>
     
      <div class="mb-3">
        <label for="objetos" class="form-label">Objetos</label>
        <input type="text" class="form-control" name="objetos">
      </div>
      <div class="mb-3">
        <label for="nivel_seg" class="form-label">Nivel de seguridad</label>
          <select name= "nivel_seg" class="form-control" id="nivel_seg">
            {% for nivel in niveles %}

              <option value={{nivel.pk}} selected>{{nivel.tipo_acceso}}</option>
            
            {% endfor %}
            

          </select>
      </div>
      <div class="mb-3">
        <label for="autorizacion" class="form-label">Autorizacion</label>
          <select name= "autorizacion" class="form-control" id="autorizacion">
            <option value=0 selected>No autoriza</option>
            <option value=1>Autoriza</option>

          </select>
      </div>
     
    <button type="sumbit" class="btn btn-primary">Guardar</button>
  </form>

  {% endblock  %}